@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 16px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
.ga-maamli-regular {
  font-family: "Ga Maamli", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.playwrite-nl {
  font-family: "Playwrite NL", cursive;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.protest-riot-regular {
  font-family: "Protest Riot", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.caveat {
  font-family: "Caveat", cursive;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
}

.rubik-bubbles-regular {
  font-family: "Rubik Bubbles", system-ui;
  font-weight: 400;
  font-style: normal;
}

.playwrite-pe {
  font-family: "Playwrite PE", cursive;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.lobster-regular {
  font-family: "Lobster", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.pacifico-regular {
  font-family: "Pacifico", cursive;
  font-weight: 400;
  font-style: normal;
}

.caveat {
  font-family: "Caveat", cursive;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
}

[class*=__container] {
  max-width: 1470px;
  padding: 0 15px;
  margin: 0 auto;
}

.wrapper {
  background-image: url(../fon/fon3.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.bgc {
  position: absolute; /* Для наложения на фон */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(252, 251, 252, 0.643); /* Легкий затеняющий цвет */
  z-index: 8; /* Чтобы затеняющий фон был поверх картинки */
}

.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  z-index: 5;
  background-image: url(../fon/fon44.jpg);
  border-bottom: 3px dashed blue;
}
@media (min-width: 120rem) {
  .header {
    height: 100px;
  }
}
@media (max-width: 120rem) and (max-width: 1920px) {
  .header {
    height: calc(80px + 34 * (100vw - 767px) / 1920);
  }
}
.header__container {
  position: relative; /* Для позиционирования контента поверх фона */
  z-index: 10; /* Контент будет сверху затеняющего фона */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 1.25rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 34.375rem) {
  .header__container {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}
.header__logo {
  font-family: "Playwrite PE", cursive;
  text-transform: uppercase;
  font-weight: 900;
  text-shadow: 1px 1px 3px rgb(249, 247, 247), 2px 2px 10px greenyellow, 3px 3px 3px rgb(250, 248, 248), -1px -1px 3px black, -2px -2px 11px greenyellow, -3px -3px 3px black;
}
@media (min-width: 120rem) {
  .header__logo {
    font-size: 40px;
  }
}
@media (max-width: 120rem) and (max-width: 1920px) {
  .header__logo {
    font-size: calc(20px + 34 * (100vw - 767px) / 1920);
  }
}
@media (max-width: 34.375rem) {
  .header__logo {
    display: none;
  }
}
.header__nav {
  font-weight: 600;
  font-family: "Lobster", sans-serif;
  color: rgb(6, 6, 6);
  text-shadow: 5px 5px 5px rgba(245, 245, 247, 0.611);
}
@media (min-width: 120rem) {
  .header__nav {
    font-size: 30px;
  }
}
@media (max-width: 120rem) and (max-width: 1920px) {
  .header__nav {
    font-size: calc(22px + 13.6 * (100vw - 767px) / 1920);
  }
}
@media (min-width: 120rem) {
  .header__nav {
    letter-spacing: 5px;
  }
}
@media (max-width: 120rem) and (max-width: 1920px) {
  .header__nav {
    letter-spacing: calc(2px + 5.1 * (100vw - 767px) / 1920);
  }
}
.header__contact {
  font-size: 1.25rem;
  font-family: "Protest Riot", sans-serif;
  text-transform: uppercase;
  font-weight: 900;
  text-shadow: 1px 1px 3px rgb(249, 247, 247), 2px 2px 1px greenyellow, 3px 3px 3px rgb(250, 248, 248);
}

.hlg {
  display: none;
}
@media (max-width: 34.375rem) {
  .hlg {
    display: block;
    margin: 1.25rem 0;
  }
}

.hero__container {
  padding-top: 6.25rem;
}
@media (min-width: 120rem) {
  .hero__container {
    padding-bottom: 100px;
  }
}
@media (max-width: 120rem) and (max-width: 1920px) {
  .hero__container {
    padding-bottom: calc(50px + 85 * (100vw - 767px) / 1920);
  }
}
.hero__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.hero__content span {
  font-weight: 900;
  font-family: "Ga Maamli", sans-serif;
  color: greenyellow;
}
@media (min-width: 120rem) {
  .hero__content span {
    font-size: 200px;
  }
}
@media (max-width: 120rem) and (max-width: 1920px) {
  .hero__content span {
    font-size: calc(120px + 136 * (100vw - 767px) / 1920);
  }
}
.hero__content .sp {
  font-size: 50px;
}
@media (min-width: 120rem) {
  .hero__content .sp {
    font-size: 50px;
  }
}
@media (max-width: 120rem) and (max-width: 1920px) {
  .hero__content .sp {
    font-size: calc(20px + 51 * (100vw - 767px) / 1920);
  }
}
.hero__info {
  margin-top: 3.125rem;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
@media (max-width: 45rem) {
  .hero__info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 1.875rem;
  }
}
.hero__info p {
  color: white;
  text-align: center;
  font-family: "Rubik Bubbles", system-ui;
  text-transform: uppercase;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 5px;
  background-color: rgba(255, 254, 254, 0.533);
  padding: 1.25rem;
  border-radius: 0.625rem;
  border: 1px solid rgb(175, 5, 222);
  text-shadow: 1px 1px 3px black, 2px 2px 1px greenyellow, 3px 3px 3px black, -1px -1px 3px black, -2px -2px 1px greenyellow, -3px -3px 3px black;
}
@media (min-width: 120rem) {
  .hero__info p {
    font-size: 20px;
  }
}
@media (max-width: 120rem) and (max-width: 1920px) {
  .hero__info p {
    font-size: calc(18px + 3.4 * (100vw - 767px) / 1920);
  }
}

.hero__title {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: url(../galery/logo5.png);
  background-repeat: no-repeat;
  background-size: 60%;
  background-position: right 0 bottom 0;
}
.hero__title h1 {
  position: relative;
  font-size: 100px;
  font-family: "Protest Riot", sans-serif;
  text-transform: uppercase;
  font-weight: 900;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: rgb(247, 251, 247);
  text-shadow: 1px 1px 2px black, 2px 2px 1px greenyellow, 3px 3px 2px black, -1px -1px 2px black, -2px -2px 1px greenyellow, -3px -3px 2px black;
  letter-spacing: 10px;
}
@media (min-width: 120rem) {
  .hero__title h1 {
    margin-top: 50px;
  }
}
@media (max-width: 120rem) and (max-width: 1920px) {
  .hero__title h1 {
    margin-top: calc(10px + 68 * (100vw - 767px) / 1920);
  }
}
@media (min-width: 120rem) {
  .hero__title h1 {
    font-size: 100px;
  }
}
@media (max-width: 120rem) and (max-width: 1920px) {
  .hero__title h1 {
    font-size: calc(60px + 68 * (100vw - 767px) / 1920);
  }
}

.hero--img {
  position: relative;
  border: 2px solid rgb(21, 240, 28);
  border-radius: 50%;
}
@media (min-width: 120rem) {
  .hero--img {
    width: 150px;
  }
}
@media (max-width: 120rem) and (max-width: 1920px) {
  .hero--img {
    width: calc(70px + 136 * (100vw - 767px) / 1920);
  }
}
@media (max-width: 45rem) {
  .hero--img {
    width: 3.125rem;
  }
}
.hero--img::after {
  content: "";
  position: absolute;
  border: 1px solid rgb(175, 5, 222);
  border-radius: 50%;
  top: -10px;
  left: -10px;
}
@media (min-width: 120rem) {
  .hero--img::after {
    width: 170px;
  }
}
@media (max-width: 120rem) and (max-width: 1920px) {
  .hero--img::after {
    width: calc(85px + 144.5 * (100vw - 767px) / 1920);
  }
}
@media (min-width: 120rem) {
  .hero--img::after {
    height: 170px;
  }
}
@media (max-width: 120rem) and (max-width: 1920px) {
  .hero--img::after {
    height: calc(80px + 153 * (100vw - 767px) / 1920);
  }
}
@media (max-width: 45rem) {
  .hero--img::after {
    width: 4.0625rem;
    height: 4.375rem;
  }
}

.hero--img img {
  width: 100%;
  border-radius: 50%;
}

.main__galery {
  padding-bottom: 1.875rem;
}

.galery__title {
  position: relative;
  margin-top: 1.25rem;
}
.galery__title img {
  position: absolute;
  width: 15%;
}
@media (min-width: 120rem) {
  .galery__title img {
    top: 0px;
  }
}
@media (max-width: 120rem) and (max-width: 1920px) {
  .galery__title img {
    top: calc(55px + -93.5 * (100vw - 767px) / 1920);
  }
}
@media (min-width: 120rem) {
  .galery__title img {
    left: 400px;
  }
}
@media (max-width: 120rem) and (max-width: 1920px) {
  .galery__title img {
    left: calc(100px + 510 * (100vw - 767px) / 1920);
  }
}
.galery__title h2 {
  font-size: 6.25rem;
  text-transform: uppercase;
  font-weight: 900;
  font-family: "Ga Maamli", sans-serif;
  text-align: center;
  margin-bottom: 1.875rem;
  letter-spacing: 7px;
  color: greenyellow;
  text-shadow: 1px 1px 3px black, 2px 2px 1px greenyellow, 3px 3px 3px black, -1px -1px 3px black, -2px -2px 1px greenyellow, -3px -3px 3px black;
}
.galery__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  row-gap: 1.875rem;
  -webkit-column-gap: 1.875rem;
     -moz-column-gap: 1.875rem;
          column-gap: 1.875rem;
  width: 100%;
  position: relative;
}
.galery__box--card {
  position: relative;
  overflow: hidden; /* Обрезаем всё, что выходит за пределы блока */
  border-radius: 20px;
}
@media (min-width: 120rem) {
  .galery__box--card {
     width: 440px;
  }
}
@media (max-width: 120rem) and (max-width: 1920px) {
  .galery__box--card {
     width: calc(350px + 153 * (100vw - 767px) / 1920);
  }
}
@media (min-width: 120rem) {
  .galery__box--card {
    height: 600px;
  }
}
@media (max-width: 120rem) and (max-width: 1920px) {
  .galery__box--card {
    height: calc(470px + 221 * (100vw - 767px) / 1920);
  }
}

.galery__box--card img {
  width: 100%; /* Изображение будет растягиваться по ширине блока */
  height: auto; /* Сохраняет пропорции изображения */
  -o-object-fit: cover;
     object-fit: cover; /* Опционально: обрезает изображение, если оно слишком большое */
}

.card--text {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 10%;
  color: rgb(118, 7, 229);
  background-color: rgba(255, 255, 255, 0.478);
  font-family: "Rubik Bubbles", system-ui;
  letter-spacing: 3px;
  text-transform: uppercase;
  font-weight: 900;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (min-width: 120rem) {
  .card--text {
     font-size: 32px;
  }
}
@media (max-width: 120rem) and (max-width: 1920px) {
  .card--text {
     font-size: calc(24px + 13.6 * (100vw - 767px) / 1920);
  }
}

.gr {
  border: 2px solid greenyellow;
}

.bl {
  border: 2px solid blueviolet;
}

.re {
  border: 2px solid red;
}

.main__order {
  padding: 1.875rem 0;
}
.main__order--title {
  text-align: center;
}
.main__order--title h3 {
  text-transform: uppercase;
  font-weight: 900;
  font-family: "Rubik Bubbles", system-ui;
  letter-spacing: 7px;
  color: white;
  line-height: 1.3;
  text-shadow: 1px 1px 3px black, 2px 2px 1px greenyellow, 3px 3px 3px black, -1px -1px 3px black, -2px -2px 1px greenyellow, -3px -3px 3px black;
}
@media (min-width: 120rem) {
  .main__order--title h3 {
     font-size: 50px;
  }
}
@media (max-width: 120rem) and (max-width: 1920px) {
  .main__order--title h3 {
     font-size: calc(34px + 27.2 * (100vw - 767px) / 1920);
  }
}
.main__order--order {
  position: relative;
  margin-top: 1.875rem;
  text-align: center;
  padding: 0.625rem 0;
  background-image: linear-gradient(45deg, rgba(0, 0, 255, 0.533), rgba(0, 128, 0, 0.519), rgba(255, 255, 0, 0.524), rgba(255, 0, 0, 0.543), rgba(255, 166, 0, 0.524), rgba(128, 0, 128, 0.51), rgba(255, 192, 203, 0.505));
  border-radius: 10px;
  -webkit-box-shadow: 15px 15px 7px rgb(253, 253, 253), -15px -15px 7px rgb(253, 253, 253);
          box-shadow: 15px 15px 7px rgb(253, 253, 253), -15px -15px 7px rgb(253, 253, 253);
}
.main__order--order h3 {
  text-transform: uppercase;
  font-weight: 900;
  font-family: "Caveat", cursive;
  letter-spacing: 7px;
  color: white;
  cursor: pointer;
  text-shadow: 1px 1px 3px black, 2px 2px 1px rgb(250, 251, 250), 3px 3px 3px black, -1px -1px 3px black, -2px -2px 1px rgb(249, 250, 248), -3px -3px 3px black;
}
@media (min-width: 120rem) {
  .main__order--order h3 {
     font-size: 50px;
  }
}
@media (max-width: 120rem) and (max-width: 1920px) {
  .main__order--order h3 {
     font-size: calc(34px + 27.2 * (100vw - 767px) / 1920);
  }
}
.main__order--order form {
  margin-top: 1.875rem;
}

.order__container {
  padding: 4.375rem 0.3125rem;
}
.box--submit {
  background-color: rgba(172, 255, 47, 0.631);
}

.btn {
  color: rgb(7, 7, 7);
  font-size: 1.25rem;
  padding: 0.625rem;
  margin: 0.625rem 0;
  text-transform: uppercase;
  letter-spacing: 3px;
  border-radius: 10px;
  font-weight: bold;
  border: 2px solid white;
}

.box--exit {
  background-color: rgba(250, 126, 54, 0.631);
}
.box--exit span {
  font-family: "Ga Maamli", sans-serif;
  font-weight: 900;
  color: rgb(172, 255, 47);
  border-bottom: 1px dashed rgb(172, 255, 47);
  border-top: 1px dashed rgb(172, 255, 47);
}

.order__box--text {
  font-family: "Playwrite NL", cursive;
  color: white;
  font-size: 1.25rem;
  text-transform: uppercase;
  font-weight: 900;
  margin-bottom: 1.25rem;
  letter-spacing: 3px;
  text-shadow: 2px 2px 3px black;
}
@media (max-width: 31.25rem) {
  .order__box--text {
    font-family: "Lobster", sans-serif;
  }
}
.name--box,
.size--box,
.count--box,
.box--servise {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: 0.625rem;
     -moz-column-gap: 0.625rem;
          column-gap: 0.625rem;
  row-gap: 0.625rem;
}
@media (max-width: 41.8125rem) {
  .name--box,
  .size--box,
  .count--box,
  .box--servise {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
  }
}

.name,
.size,
.count,
.servise {
  background-color: white;
  padding: 0.625rem;
  border-radius: 5px;
  font-family: "Playwrite NL", cursive;
  font-size: 1rem;
  font-weight: 800;
  letter-spacing: 3px;
  text-transform: uppercase;
  border: 1px solid rgb(66, 8, 238);
  cursor: pointer;
}
@media (max-width: 31.25rem) {
  .name,
  .size,
  .count,
  .servise {
    font-family: "Lobster", sans-serif;
    font-weight: 900;
    font-size: 1.5rem;
  }
}
.name:hover,
.size:hover,
.count:hover,
.servise:hover {
  background-color: rgba(97, 92, 92, 0.192);
  color: white;
  border: 1px solid white;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; /* Учитывает бордер внутри размера блока */
}

.size,
.count {
  font-family: "Protest Riot", sans-serif;
}

.servise {
  font-family: "Playwrite NL", cursive;
}

.bx {
  border: 1px dashed white;
  padding: 1.25rem;
}

.order--form {
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  z-index: 1000;
  background-image: linear-gradient(45deg, rgb(0, 0, 255), rgb(0, 128, 0), rgb(255, 255, 0), rgb(255, 0, 0), rgb(255, 166, 0), rgb(128, 0, 128), rgb(255, 192, 203));
}
.order--form img {
  background-color: white;
  border-radius: 50%;
  rotate: 45deg;
  margin-top: 1.25rem;
  width: 1.875rem;
  display: none;
}
@media (max-width: 41.8125rem) {
  .order--form img {
    display: block;
    margin-left: 90%;
  }
}

.odc {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: rgba(154, 113, 243, 0.416);
}
.odc form {
  margin-top: 1.25rem;
  background-color: rgba(81, 7, 241, 0.416);
  padding: 1.875rem;
  border-radius: 10px;
}

.order__title h3 {
  font-family: "Playwrite NL", cursive;
  font-weight: 900;
  color: white;
  font-size: 3.125rem;
  margin-top: 4.375rem;
  text-align: center;
  text-shadow: 1px 1px 3px black, 2px 2px 1px rgb(250, 251, 250), 3px 3px 3px black, -1px -1px 3px black, -2px -2px 1px rgb(249, 250, 248), -3px -3px 3px black;
}

.orderform__box {
  padding: 1.25rem 0;
}
.orderform__box p {
  font-weight: 900;
  color: rgb(252, 251, 251);
  font-size: 1.25rem;
  letter-spacing: 3px;
  line-height: 1.4;
  text-transform: uppercase;
  text-shadow: 1px 1px 3px black, 2px 2px 1px rgb(250, 251, 250), 3px 3px 3px black;
}

.main__question {
  margin-top: 3.125rem;
}
.question__block--title {
  margin: 3.125rem 0;
  text-align: center;
}
.question__block--title p {
  font-family: "Playwrite NL", cursive;
  font-weight: 900;
  color: rgb(250, 248, 252);
  font-size: 1.25rem;
  letter-spacing: 3px;
  text-transform: uppercase;
  line-height: 1.6;
  text-shadow: 1px 1px 31px rgb(72, 5, 241), 3px 3px 31px rgb(110, 9, 243), -1px -1px 31px rgb(61, 3, 248), -3px -3px 31px rgb(89, 4, 246);
}
@media (max-width: 31.25rem) {
  .question__block--title p {
    font-family: "Lobster", sans-serif;
  }
}
.question__block--box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
@media (max-width: 36.875rem) {
  .question__block--box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (max-width: 36.875rem) {
  .question--form {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}
.question--form form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.question--form form b {
  font-size: 1.375rem;
  text-transform: uppercase;
  text-shadow: 1px 1px 3px rgb(252, 252, 252), 2px 2px 6px rgb(90, 7, 245), 3px 3px 3px rgb(159, 158, 158), -2px -2px 6px rgb(102, 8, 243);
}
.question--form label {
  margin-bottom: 0.3125rem;
}

input {
  font-size: 1.375rem;
  padding: 0.625rem;
  border-radius: 10px;
  margin-bottom: 1.25rem;
  border: 1px dashed blue;
}
input::-webkit-input-placeholder {
  font-weight: 900;
  font-style: italic;
  text-align: center;
  letter-spacing: 2px;
}
input::-moz-placeholder {
  font-weight: 900;
  font-style: italic;
  text-align: center;
  letter-spacing: 2px;
}
input:-ms-input-placeholder {
  font-weight: 900;
  font-style: italic;
  text-align: center;
  letter-spacing: 2px;
}
input::-ms-input-placeholder {
  font-weight: 900;
  font-style: italic;
  text-align: center;
  letter-spacing: 2px;
}
input::placeholder {
  font-weight: 900;
  font-style: italic;
  text-align: center;
  letter-spacing: 2px;
}

.question--img {
  position: relative;
  max-width: 12.5rem;
  margin-top: 1.875rem;
}
@media (max-width: 36.875rem) {
  .question--img {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}
.question--img p {
  position: absolute;
  bottom: 2.5rem;
  font-family: "Playwrite NL", cursive;
  font-weight: 900;
  color: white;
  font-size: 1.75rem;
  text-shadow: 2px 2px 10px rgb(90, 7, 245), -2px -2px 16px rgb(102, 8, 243);
  padding: 0.625rem;
}
@media (max-width: 31.25rem) {
  .question--img p {
    font-family: "Lobster", sans-serif;
  }
}

.question--img img {
  width: 100%;
}

@media (min-width: 120rem) {
  .main__opis {
    margin-top: 130px;
  }
}
@media (max-width: 120rem) and (max-width: 1920px) {
  .main__opis {
    margin-top: calc(60px + 119 * (100vw - 767px) / 1920);
  }
}

.opis__container p {
  font-family: "Caveat", cursive;
  font-weight: 900;
  color: rgb(9, 9, 9);
  font-size: 2.375rem;
  line-height: 1.3;
  padding: 0.625rem;
  background-image: url(../galery/n4.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  text-shadow: 5px 5px 5px rgb(254, 254, 254), -5px -5px 5px rgb(248, 247, 249);
}

.footer {
  position: relative;
  background-image: url(../fon/fon22.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 3.125rem 0;
  z-index: 1;
  margin-top: 3.125rem;
}
.footer__fone {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.528);
  z-index: 2;
}
.footer__container {
  z-index: 5;
  position: relative; /* Для правильного наложения */
}
.footer__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 124.9375rem) {
  .footer__box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 1.875rem;
  }
}
.footer__box--adress {
  text-align: center;
}
.footer__box--adress p {
  font-size: 1.875rem;
  font-weight: 600;
  font-family: "Pacifico", cursive;
  letter-spacing: 5px;
  line-height: 1.5;
}
.footer__box--back {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer__box--back form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.footer__box--back button {
  padding: 0.625rem;
  margin-top: 1.25rem;
  font-size: 1.125rem;
  background-color: rgba(255, 217, 0, 0.53);
  font-weight: 900;
  border: 1px dashed black;
  border-radius: 10px;
}
@media (min-width: 120rem) {
  .footer__box--back button {
    width: 100px;
  }
}
@media (max-width: 120rem) and (max-width: 1920px) {
  .footer__box--back button {
    width: calc(300px + -340 * (100vw - 767px) / 1920);
  }
}
.other {
  font-size: 1.875rem;
  font-weight: 600;
  font-family: "Lobster", sans-serif;
  letter-spacing: 5px;
  margin-bottom: 2.5rem;
  color: rgb(6, 6, 6);
  text-shadow: 5px 5px 5px rgba(64, 6, 237, 0.611), -5px -5px 5px yellow;
}

.enet--icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.enet--icon img {
  max-width: 2.5rem;
}

#subject {
  width: 25rem;
  height: 9.375rem;
  font-family: "Lobster", sans-serif;
  letter-spacing: 3px;
  font-size: 1.25rem;
}
@media (max-width: 26.875rem) {
  #subject {
    width: 22.5rem;
  }
}